*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.contenedor-cartas{
	display: flex;
}

.sombra{
	margin: 1em;
	width: calc(100%/3);
	box-shadow: 2px 6px 8px 0 #bcbcbc;
}

#contenedorCarrucel{
	width: 100%;
	outline: 2px solid blue;
}

@media screen and (min-width:700px)
{
	.carousel-inner{
		display: flex;
	}

	.carousel-item{
		display: block;
		margin-right: 0;
		flex: 0 0 calc(100%/3);
	}

}

.carousel-inner{
	padding: 1em;
}

.card{
	margin:0 .5em;
}


/*imagen principal*/
#imagen{
	height: 400px;
	width: 100%;
	object-fit: cover;/*recortamos la imagen*/
	object-position: 30% 40%;
}

#contenedorImagePrincipal{
	position: relative;
}

#logoColor{
	width: 15%;
	height: auto;
	position: absolute;
	right: 45%;
	top: 30%;
}
