.sobreNosotros{
    display: flex;
    padding: 10px;
    border-radius: 2px;
}
.sobreNosotros .img img{
    width: 300px;
    border-radius: 5px;
}
.sobreNosotros .text h2{font-size: 30px;margin-left: 10px; font-family: sans-serif;}
.sobreNosotros .text p{padding: 20px;font-size: 18px;font-family: sans-serif;}
.conten2{
    display: flex;
    padding: 2px;
    width: 80%;
    background-color: #bebebe;
}

.conten2 .img img{
    width: 222px;
}

.conten2 .text .textCorto{
    padding: 4px;
    font-size: 30px;
    font-family: 'Gill Sans';
}
.conten2 .text .creador{font-family: sans-serif;}
.cardMayor{
    display: flex;
    font-family: sans-serif;
    font-size: 14px;
}
.cardMayor .card{
    margin-left: 6px;
}
.cardMayor .precidentes .card{
    margin-top: 5px;
}
.cardMayor .tesoreros .card{
    margin-top: 5px;
}
.comision{
    display: flex;
    align-items: center;
    justify-content: center;
}
.directiva{font-size: 20p;text-align: center;margin-top: 10px;}