body{
    background-color: #464646;
}
nav{
    padding: 6px 10px;
}
.imagen_Portada{
    height: 65vh;
    width: 100%;
}
.carousel_Imagen{
    height:65vh;
}
.tarjetas{
    display:flex;
    flex-direction: column;
    align-items: center;
}

