body{
    background-color: #2a2a2a;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%236e6e6e' fill-opacity='0.3'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


/*Estilos Portada*/
#imagen{
	height: 60vh;
	width: 100%;
    padding:5px;
	object-fit: cover;
	object-position: 30% 40%;
}
#contenedorImagenPrincipal{
	position: relative;
}
#logoColor{
	width: 4rem;
	height: auto;
	position: absolute;
	right: 1%;
	top: 2%;
}
/*Fin estilos Portada*/

/*Estilos Tarjetas*/

section #sinNoticias{
    color:#fff;
    background-color: #313131;
    border-radius: 8px;
    padding: 1rem;
    margin: 16px;
    width: 100%;
}
section #sinNoticias p{
    margin:1rem auto;
    text-align: center;
}

section .tarjetas{
    padding:0;
}
section .tarjetas .col-12{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items:flex-start;
}
section .tarjetas .card{
    width: 30%;
    margin: 1rem 1.6667%;
}
section .tarjetas .imagenNoticia{
    background-color: #3a3a3a;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    width:25%;
    padding:.25rem 0;
}
section .tarjetas .card .col-md-4{
    display:flex;
    width:auto;
    justify-content: flex-start;
}
section .tarjetas .card .card-body{
    padding:.25rem;
}
section .tarjetas img{
    width:70%;
    border-top-right-radius:4px;

}
section .tarjetas .tituloNoticia{
    width:75%;
    margin: auto .5rem;
}
section .tarjetas .tituloNoticia h5{
    width:100%;
}
section .tarjetas .card .col-md-8{
    width:100%;
    
}
/*Fin estilos Tarjetas*/


