.contenedor-cartas{
	display: flex;
}

.sombra{
	margin: 1em;
	width: calc(100%/3);
	box-shadow: 2px 6px 8px 0 #bcbcbc;
}

#carrucel{
	background-color: #eeeeee; 
	width: 100vw;
 	position: relative;
 	left: 50%;
 	right: 50%;
 	margin-left: -50vw;
 	margin-right: -50vw;
}

/*imagen principal*/
#imagen{
	height: 350px;
	width: 100%;
	object-fit: cover;/*recortamos la imagen*/
	object-position: 30% 40%;
}

#contenedorImagePrincipal{
	position: relative;
}
#logoColor{
	width: 15%;
	height: auto;
	position: absolute;
	right: 45%;
	top: 30%;
}

footer{
    background-color: #3a3a3a;
}
.logo_Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ubicacion_Footer{
    display:flex;
}
footer .card{
    width: 100%;
    background-color: #3a3a3a;
    border:none;
    color:#fff;
    text-align: left;
    margin:10px auto;
}
.ubicacion_Footer iframe{
    border:none;
    border-radius: 8px;
    width: 100%;
    margin:15px auto 5px;
}
footer .card div{
	margin:6px 10px;
}
footer .card div a{
	text-decoration: none;
	color:#fff;
}