body{
	background-color:#275e94;
	background: radial-gradient(#275e94, #212529);
}
.noticias .container .row .col-md-4 .card img{
    width: 100%;
    height: 300px;
}

section #sinNoticias{
    color:#fff;
    background-color: #313131;
    border-radius: 8px;
    padding: 1rem;
    margin: 16px;
    width: 100%;
}
section #sinNoticias p{
    margin:1rem auto;
    text-align: center;
}

.filtroDeNoticias{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.filtroDeNoticias .filtroPrimero{
    display: flex;
}
.filtroDeNoticias .filtroSegundo {
    display: flex;
}
.filtroDeNoticias .filtroPrimero div{
    padding:2px 5px 2px 5px;
    margin: 3px;
    border: none;
    background: #252525;
    color: #fff;
    border-radius: 10px;
}
.filtroDeNoticias .filtroSegundo div{
    padding:2px 5px 2px 5px;
    margin: 3px;
    border: none;
    background: #252525;
    color: #fff;
    border-radius: 10px;
}
.filtroDeNoticias  .btn-reiniciar{
    padding:2px 5px 2px 5px;
    margin: 3px;
    border: none;
    background: #868686;
    color: #fff;
    border-radius: 10px;
}
.filtroDeNoticias .filtroPrimero div:hover{
    background: #868686;
}

.filtroDeNoticias .filtroSegundo div:hover{
    background: #868686;
}

.filtroDeNoticias .btn-reiniciar:hover{
    background: #992345;
}

