.comision{
    margin-top: 20px;
}

/* Para 780px */
@media screen and (max-width: 780px){
    /*pagina de inicio las noticias que hay */
    .row .contenido{
        display: block;
    }
    .contenido .textoImagen{
        width: 100%;
    }
    
    .contenido .textoContenido{
        width: 100%;
    }
    .contenido img {
        width: 100%;
    }
    
    /*para noticias */
    .filtroDeNoticias{
        display: block;
    }
    

    .cardMayor{
        display: block;
    }
    .sobreNosotros .img img{
        width: 80%;
        height: 45%;
        border-radius: 5px;
    }
    .sobreNosotros .text h2{
    font-size: 22px;margin-top: 1px;
    font-family: sans-serif;
    }
    .sobreNosotros .text p{
        padding: 5px;
        font-size: 18px;
        font-family: sans-serif;
    }
    /*creador*/
    .conten2{
        padding: 0px;
        width: 70%;
    }

    .conten2 .img img{
        width: 180px;
    }
    .conten2 .text .textCorto{
    padding: 1px;
    font-size: 18px;
    font-family: 'Gill Sans';
    }

    /*directiva del club*/
    .comision{
        margin-top: 20px;
    }

    /*footer*/
    footer .row {
        display: block;
        padding: 2px;
    }
    footer .row .logo_Footer{
        margin: auto;
        width: 100px;
    }
    footer .row .ubicacion_Footer{
        width: 100%;
    }
    footer .row .col-4{
        width: 100%;
    }
    footer .row .col-4 .contactos_Footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

}

/* para 625*/
@media screen and (max-width: 625px){
<<<<<<< HEAD
=======
    /*pagina de inicio las noticias que hay */  
    .contenedorNoticias{
        display: block;
    }
    .noticiaPrincipal{
        width: 90%;
    }
    .contenedorResponsive .noticiaSecundaria {
        width: 42%;
    }
    /*sobre nosotros*/
>>>>>>> testMerge
    .conten2{
        width: 100%;
    }
    .conten2 .img{ 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .conten2 .img img{
        width: 220px;
    }
    .cardMayor{
        display: block;
    }
    

}
/* para 480 */
@media screen and (max-width: 480px){
    .conten2{
        display: block;
        padding: 2px;
        width: 80%;
        background-color: #bebebe;
    }
    .conten2 .img{ 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .conten2 .img img{
        width: 220px;
    }

}
