body{
	background-color:#275e94;
	background: radial-gradient(#275e94, #212529);
}
/*adjuntos de container*/
.container{
    margin-top: 10px;
}

.sobreNosotros{
    display: block;
    padding: 10px;
}
.sobreNosotros .img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobreNosotros .img img{
    width: 90%;
    height: 65%;
    border-radius: 5px;
}
.sobreNosotros .text h2{
    font-size: 30px;margin-top: 10px;
    font-family: sans-serif;text-align: center;}
.sobreNosotros .text p{padding: 20px;font-size: 18px;font-family: sans-serif;}

/* seccion del creador del club*/

.conten2{
    display: flex;
    padding: 2px;
    width: 80%;
    background-color: #bebebe;
}

.conten2 .img img{
    width: 222px;
}

.conten2 .text .textCorto{
    padding: 4px;
    font-size: 20px;
    font-family: 'Gill Sans';
}
.conten2 .text .creador{font-family: sans-serif;}

/*seccion de la comision directiva 2021-2025*/
.comision{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardMayor{
    display: flex;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: -20px;
}
.cardMayor .card{
    margin-left: 6px;
}
.cardMayor .precidentes .card{
    margin-top: 5px;
}
.cardMayor .tesoreros .card{
    margin-top: 5px;
}
h2{
    color:#fafafa;
}

.textDirectiva{font-size: 20p;text-align: center;margin-top: 10px;}

/*flecha para futbol*/
.flechaDeFutbol{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-arrow-down-square{
    font-size: 30px;
}
.container div i {
    color: #fafafa;
}
/*comision directiva de furbol*/
.bi-arrow-up-square{
    font-size: 30px;
    margin-left: 10px;
    transition-duration: 20ms;
    color: red;
}
.textFutbol{font-size: 20p;text-align: center;margin-top: 10px;}
#directivaFutbol{
    display: none;
    align-items: center;
    justify-content: center;
}
#directivaVoley{
    display: none;
    align-items: center;
    justify-content: center;
}
#directivaBasquet{
    display: none;
    align-items: center;
    justify-content: center;
}
#directivaHandball{
    display: none;
    align-items: center;
    justify-content: center;
}
#directivaTenis{
    display: none;
    align-items: center;
    justify-content: center;
}

#directivaNatacion{
    display: none;
    align-items: center;
    justify-content: center;
}


#directivaHokey{
    display: none;
    align-items: center;
    justify-content: center;
}


#directivaAjedrez{
    display: none;
    align-items: center;
    justify-content: center;
}


#directivaBoxeo{
    display: none;
    align-items: center;
    justify-content: center;
}


#directivaKarate{
    display: none;
    align-items: center;
    justify-content: center;
}




